name: Build Slipstream Client

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        goos: [linux, android, windows]
        goarch: [amd64, arm64, 386]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.0'

      - name: Build client
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          mkdir -p builds
          go build -trimpath -ldflags "-s -w" -o builds/client-${{ matrix.goos }}-${{ matrix.goarch }} ./cmd/client

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: slipstream-builds
          path: builds/
